MONGO_URL=  # Base mongodb url, such as: mongodb://localhost:27017
DB_NAME=     # database name
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
CORS_ORIGINS=http://localhost:3000     # CORS origins seperated by commas